In [6]:
%pip install pandas numpy sqlalchemy

Requirement already satisfied: pandas in c:\users\ariji\appdata\local\python\pythoncore-3.14-64\lib\site-packages (2.3.3)
Requirement already satisfied: numpy in c:\users\ariji\appdata\local\python\pythoncore-3.14-64\lib\site-packages (2.4.1)
Collecting sqlalchemy
  Downloading sqlalchemy-2.0.45-cp314-cp314-win_amd64.whl.metadata (9.8 kB)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\ariji\appdata\roaming\python\python314\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\ariji\appdata\local\python\pythoncore-3.14-64\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\ariji\appdata\local\python\pythoncore-3.14-64\lib\site-packages (from pandas) (2025.3)
Collecting greenlet>=1 (from sqlalchemy)
  Downloading greenlet-3.3.0-cp314-cp314-win_amd64.whl.metadata (4.2 kB)
Collecting typing-extensions>=4.6.0 (from sqlalchemy)
  Downloading typing_extensions-4.15.0-py3-none-any.whl.metadata (3.3 kB)
Requirement already satisfied: six>=1.5 in c:\users\ariji\appdata\roaming\python\python314\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Downloading sqlalchemy-2.0.45-cp314-cp314-win_amd64.whl (2.1 MB)
   ---------------------------------------- 0.0/2.1 MB ? eta -:--:--
   --------- ------------------------------ 0.5/2.1 MB 5.9 MB/s eta 0:00:01
   ---------------------------------------- 2.1/2.1 MB 7.5 MB/s  0:00:00
Downloading greenlet-3.3.0-cp314-cp314-win_amd64.whl (305 kB)
Downloading typing_extensions-4.15.0-py3-none-any.whl (44 kB)
Installing collected packages: typing-extensions, greenlet, sqlalchemy

   ------------- -------------------------- 1/3 [greenlet]
   ------------- -------------------------- 1/3 [greenlet]
   ------------- -------------------------- 1/3 [greenlet]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   ---------------------------------------- 3/3 [sqlalchemy]

Successfully installed greenlet-3.3.0 sqlalchemy-2.0.45 typing-extensions-4.15.0
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 25.2 -> 25.3
[notice] To update, run: python.exe -m pip install --upgrade pip

In [3]:
import pandas as pd

data = {
    "name": ["Sumit", "Rahul", "Ankit"],
    "age": [25, 30, 35],
    "salary": [25000, 30000, 35000],
}

df = pd.DataFrame(data)
df

    name  age  salary
0  Sumit   25   25000
1  Rahul   30   30000
2  Ankit   35   35000

In [4]:
df = pd.read_csv('orders.csv')

In [5]:
df.describe()

             sales   quantity       profit
count    50.000000  50.000000    50.000000
mean    300.792000   3.920000   -20.550000
std     547.564035   1.977836   251.767027
min       2.500000   2.000000 -1665.100000
25%      20.075000   2.000000     2.500000
50%      74.650000   3.000000     8.350000
75%     249.875000   5.000000    17.650000
max    3083.400000   9.000000   240.300000

In [ ]:
df.columns  = ['order_date', 'order_id', 'ship_date', 'ship_mode', 'customer_key',
       'region', 'product_id', 'category', 'sales', 'quantity', 'profit']

In [ ]:
df = pd.read_csv('orders.csv')
df.columns  = ['order_id', 'order_date', 'ship_date', 'ship_mode', 'customer_id',
       'region', 'product_id', 'category', 'sales', 'quantity', 'profit']
df

In [ ]:
#col = ['order_id','order_date','ship_date']
df_new = df['order_id']

In [ ]:
type(df_new)

In [ ]:
df.iloc[[2,5,8] , [2,4,6]]

In [ ]:
df_new = df.loc[0:10 ,['order_id','order_date','sales']]

In [ ]:
df.set_index('order_id' , inplace=True)

In [ ]:
df.loc['CA-2020-152156' , 'order_date':'customer_id']
df.iloc['CA-2019-117415' , 0:2]

In [ ]:
df.loc[['CA-2021-107727','CA-2020-117590'],['ship_date','order_date']]

In [ ]:
df.reset_index(inplace=True)

In [ ]:
df

In [ ]:
df.sort_index(ascending=True , inplace=True)

In [ ]:
df

In [ ]:
df.sort_values(['quantity','profit'] , ascending=[True,False] , inplace=True )

In [ ]:
df.reset_index(drop=True, inplace=True)

In [ ]:
df

In [ ]:
fc = df['region']=='South'
df.loc[fc]
df

In [ ]:
df[~(df['region']=='South')]

In [ ]:
df['country'] = 'India'

In [ ]:
df['country'] = 'USA'

In [ ]:
df.drop(columns='country', inplace=True)

In [ ]:
df['profit_flag'] = 1

In [ ]:
df.loc[df['profit']<=0 , 'profit_flag'] = 0

In [ ]:
df
# <0 -> loss
# between 0 and 50 -> low profit
# >50 high profit

In [ ]:
df['category_len'] = df['category'].apply(len)

In [ ]:
def profit_loss(profit):
    if profit>0:
        return "profit"
    else:
        return "loss"
df['profit_loss'] = df['profit'].apply(profit_loss)

In [ ]:
df

In [ ]:
df['category_upper'] = df['category'].str.upper()

In [ ]:
df.drop(columns='category_upper',inplace=True)

In [ ]:
df

In [ ]:
df.info()

In [ ]:
df.fillna("Unknown", inplace=True)

In [ ]:
df

In [ ]:
data = {
    "name": ["Sumit", "Rahul", "Ankit", "Ankit" , "Ankit"],
    "age": [25, 30, 30 , 30 , 30],
    "salary": [25000, 30000, 35000, 35000 , 35000],
}

df = pd.DataFrame(data)
df

In [ ]:
df.drop_duplicates(subset = ['age','salary'] , keep='first' , inplace=True)

In [ ]:
df

In [ ]:
df

In [ ]:
df["order_date"] = pd.to_datetime(df["order_date"] , format ='%d-%m-%Y')

In [ ]:
df["ship_date"] = pd.to_datetime(df["ship_date"] , format ='%d-%m-%Y')

In [ ]:
df['order_year'] = df['order_date'].dt.year

In [ ]:
df[df["order_date"] > "2021-01-01"]

In [ ]:
df["transit_days"] = (df["ship_date"] - df["order_date"]).dt.days

In [ ]:
df['category'].unique()

In [ ]:
df

In [ ]:
df.groupby("region")['sales'].sum()

In [ ]:
df.groupby("region")["sales"].agg(["min", "max" , "sum"])

In [ ]:
df.groupby('category').agg({'sales':'sum','profit':'count'})

In [ ]:
df["category"].value_counts()

In [ ]:
pd.pivot_table(
    df,
    index="region",
    columns="category",
    values="sales",
    aggfunc="sum",
    fill_value=0
)

In [ ]:
df_orders = pd.read_csv('orders.csv')
df_returns = pd.read_csv('returns.csv')

In [ ]:
df_orders

In [ ]:
df = pd.merge(left = df_orders , right = df_returns, left_on = 'order_id' , right_on='return_order_id'  , how = 'left' )

In [ ]:
df

In [ ]:
emp1 = {"id":[1,2,3],
      "name":["Ankit","Sumit","Amit"],
      "salary":[100,200,300]}
emp2 = {"id":[4,5,6],
      "name":["Nachiket","Rahul","Vinay"],
      "salary":[400,500,600]}

df1 = pd.DataFrame(emp1)
df2 = pd.DataFrame(emp2)

In [ ]:
df1

In [ ]:
df2

In [ ]:
df = pd.concat([df1,df2], ignore_index= True)
df

In [ ]:
df.to_excel("full_orders.xlsx" , index = False)

In [ ]:
df_excel = pd.read_excel("full_orders.xlsx" , sheet_name='orders1')

In [ ]:
df_excel

In [ ]:
# mysql
from sqlalchemy import create_engine , text
engine = create_engine("mysql+pymysql://root:mysql123@127.0.0.1:3306/sys")

In [ ]:
query = "SELECT * FROM orders where order_id > 10"
df = pd.read_sql(query, con=engine)

In [ ]:
df.to_sql(name="orders_copy", con=engine, index=False, if_exists="append")

In [ ]:
query = text("truncate table orders_copy")
with engine.begin() as conn:
    conn.execute(query)
    conn.commit()

In [ ]:
import json

f =  open('orders_etl.json')
data = json.load(f)

In [ ]:
order_id = []
order_date = []
total_amount = []
quantity = []
customer_id = []
product_id = []
product_name = []
category = []
price=[]
customer_name = []
email =[]
address= []
cust_id =[]

for order in data:
    cust_id.append(order['customer']['customer_id'])
    customer_name.append(order['customer']['name'])
    email.append(order['customer']['email'])
    address.append(order['customer']['address'])
    for product in order['products']:
        order_id.append(order['order_id'])
        order_date.append(order['order_date'])
        customer_id.append(order['customer']['customer_id'])
        total_amount.append(order['total_amount'])
        quantity.append(product['quantity'])
        product_id.append(product['product_id'])
        product_name.append(product['name'])
        category.append(product['category'])
        price.append(product['price'])
        
df_orders = pd.DataFrame({
        'order_id': order_id,
        'order_date': order_date,
        'customer_id': customer_id,
        'total_amount': total_amount,
        'product_id': product_id,
        'quantity': quantity
})        
   
df_products = pd.DataFrame({
        'product_id': product_id,
        'product_name': product_name,
        'category': category,
        'price': price,
}) 

df_customers = pd.DataFrame({
        'customer_id': cust_id,
        'customer_name': customer_name,
        'email': email,
        'address': address,
}) 
df_customers.drop_duplicates(subset='customer_id', keep='last' , inplace=True)
df_products.drop_duplicates(subset='product_id', keep='last' , inplace=True)
df_orders

In [ ]:
df_orders.to_sql(name="orders", con=engine, index=False, if_exists="replace")
df_products.to_sql(name="products", con=engine, index=False, if_exists="replace")
df_customers.to_sql(name="customers", con=engine, index=False, if_exists="replace")

In [ ]:
# orders -> order_id , order_date, total_amount, quantity , customer_id , product_id
# products -> products_id, name, category,price
# customers -> customer id, name, email, address 
data = {
    "name": ["Sumit", "Rahul", "Ankit"],
    "age": [25, 30, 35],
    "salary": [25000, 30000, 35000],
}

df = pd.DataFrame(data)

df